/* add css imports here  */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');


/* style resets */
h1,
h4,
p,
a,
svg {
  margin: 0;
  padding: 0;
}

/* base styling */
body {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #c1dff0;
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 columns */
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

/* Customize your sections!*/

#yonge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41266E;
}

#choi-img {
  width: 300px;
  height: 300px;
  border-radius: 30%;
}

#choi-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #FFFFFF;
  font-size: 42px;
  margin: 20px 0;
}


#tobi-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f2a;
}

#tobi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f2a;
}

#tobi-img {
  width: 360px;
  height: 450px;
}

#tobi-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 20px;
}

#jaynyfe {
  background-color: #ccffcc;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  font-family: "Aclonica", sans-serif;
}

#jaynyfe #nameDecor {
  font-size: 50px;
  color: #2a5d34;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#jaynyfe #piceffect img {
  width: 250px;
  height: auto;
  border-radius: 30%;
  transition: transform 0.5s ease;
}

#jaynyfe #piceffect img:hover {
  transform: scale(1.1);
}

#jaynyfe img {
  max-width: 100%;
  height: auto;
  border: 3px solid #6fae75;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

#nabin {
  text-align: left;
}

#waiyeung {
  background-color: #ffcc99;
}

#diksha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d0e1d;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  padding: 30px;
  color: #e5f04a;
}

#diksha img {
  width: 160px;
  height: auto;
  padding: 20px;
  border-radius: 120px;
}

/* MARIANA */
#mariana {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #e5e5f7;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mariana img {
  width: 150px;
  height: auto;
  border-radius: 20%;
}

#lana {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  font-family: "Afacad Flux", sans-serif;
  font-weight: 100;
}

#lana-name {
  background-color: #3c3cc4;
  color: white;
  border-radius: 20px;
}

#lana-img {
  align-items: center;
  width: 300px;
}

/*  */


@font-face {
  font-family: aaditya_font;
  src: url(../fonts/aaditya_font.otf);
}




#aaditya {
  background-color: #FAFFE6;
  font-size: 20px;
  font-family: aaditya_font;
}


.card_aadi {
  transform: scale(0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #000;
  border-radius: 30px;
  overflow: hidden;
  background-color: #5375FF;
  padding: 30px;
}

.image-aadi {
  width: fit-content;
  height: 400px;
}

.image-aadi img {
  border-radius: 25px;
  border: 5px solid #000;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  padding-top: 25px;

}

.greeting {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

.button {
  background-color: #68C672;
  border: 4px solid #000;
  font-family: aaditya_font;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  display: inline-block;
  font-size: 22px;

}

.button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #3e8e41;
}

.button:hover {
  background-color: #45a049;
  /* Darker green on hover */
}

.button img {
  margin-right: 10px;
  height: 35px;
  width: 35px;
  vertical-align: middle;
}


/*  */



#marylour {
  background-color: #d9d9d9;
}

#balaji {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;

  background-image: url('../img/Bala_BG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: "Sixtyfour Convergence", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: white;
}

#balaji img {
  margin-bottom: 20px;
  border-radius: 20px;
}

#apple {
  background-color: #F0EDCC;
  border: 2px solid #171d23;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#apple h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  color: #02343F;
}

#apple img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
}

#apple img:hover {
  transform: rotate(360deg);
  transition: transform 1s ease-in-out;
}

#apple h5 {
  text-align: center;
  font-size: 18px;
  color: #02343F;
  margin-top: 15px;
}

#beth {
  background-color: #ffb3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #80FFFF;
  text-shadow: 0px 0px 8px #B3FFFF;
}

#beth img {
  width: 100%;
  border-radius: 1em;
}

#didem {
  background-color: #c6ecc6;
}


#thulasi {
  background-color: #b3b3ff;
}

#vanessa {
  background-color: #ffcccb;
}

#peiwen {
  background-color: #c1f0f0;
}
/* Eema's Styling  */
#Eema {
  background-color: #0080ff;
  border-radius: 5px;
}


#eemaspic{ 
  width: 80%;
  border-radius: 50%;

}


#EemasName{ 
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

#gifEema{ 
  width: 40%;
}
/* Nabin's card styling from here */
.card {
  margin: auto;
  max-width: 300px;
  background-color: azure;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.profile-graphic {
  content: "";
  width: 100%;
  height: 300px;
  background-image: linear-gradient(90deg,
      rgba(98, 255, 237, 1) 0%,
      rgba(121, 183, 255, 1) 100%);
  border-radius: 150px 2px 150px 2px;
}

.title-container h1 {
  font-size: 36px;
}

.title-container p {
  font-size: 20px;
  margin-top: 5px;
  margin: 0;
}

.triangular-shape {
  border-left: 2px solid #444cf7;
  border-right: 2px solid #444cf7;
  width: 20px;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(ellipse farthest-corner at 5px 5px,
      #444cf7,
      #444cf7 50%,
      #e5e5f7 50%);
  background-size: 5px 5px;
}

.bottom-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.work-container {
  display: flex;
  gap: 5px;
  padding: 0px 5px;
  border: 2px solid #444cf7;
  border-radius: 5px;
  align-items: center;
}

.socials {
  display: flex;
}



/* MARIANA */
.container-Mariana {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #e5e5f7;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-Mariana img {
  width: 150px;
  height: auto;
  border-radius: 20%;

}

/* Wai Yeung Lam Start */
#waiyeung {
  font-family: "Jacquarda Bastarda 9", serif;
  font-size: x-large;
}

#waiyeung img {
  width: 50%;
  height: auto;
  transition: all ease 1s;
}

#waiyeung img:hover {
  width: 80%;
  height: auto;
  transition: all ease 1s;
}

/* Wai Yeung Lam End */


/* Card Styling for Marylour Pulido */
#marylour h1 {
  font-family: "Playwrite ZA", cursive;
  color: white;
  background-color: #31389e;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 3px;
  margin-top: 50px;
  font-size: 40px;
}

#marylour h1:hover {
  animation: bounce 0.5s ease infinite;
}

#marylour {
  background-color: #95b9df;
}

#marylour img {
  width: 350px;
  height: auto;
  border-radius: 10px;
  border: solid white;
  margin-top: 100px;
}

#marylour img:hover {
  animation: bounce 0.5s ease infinite;
}

#jukyung {
  background-color: rgb(255, 194, 220);
  border: 5px dotted #0080ff;
  border-radius: 10px;
}

#jukyung h1 {
  color: #3e538e;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
}

#jukyung h1:hover {
  color: #4046ff;
  transform: scale(1.2) translateY(-10px);
  transition: all 0.3s ease;
}

#jukyung img {
  width: 150px;
  height: 150px;
}

#jukyung img:hover {
  animation: bounce 0.5s ease infinite;
}


#seoyeongkim {
  background-color: #e8e8f6;
}

#seoyeongkim img {
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: solid rgb(37, 164, 243);
  margin-top: 80px;
}

#seoyeongkim h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(85, 78, 226);
  border-radius: 3px;
  margin-top: 50px;
  font-size: 30px;
}

/* Wing Ho Li Start */
#wingho {
  background-color: #32adda;
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




/* Wing Ho Li End */


/*Anita*/

#AnitaHon {
  background-color: #f2f2ef;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

#tingyeung {
  background-color: rgb(255, 127, 159);
}

#tingyeung h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  font-weight: 900;
}

#tingyeung img {
  width: 350px;
  height: auto;
  border-radius: 50%;
}

#tingyeung p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
}

/* Wangtakleung */
#Wangtakleung {
  width: 400px;
  height: 550px;
  font-family: "Permanent Marker", system-ui;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  padding-top: 50px;
  color: rgb(12, 40, 23);
  background-color: rgb(193, 189, 143);
  border-color: rgb(12, 40, 23);
  border-radius: 9px;
  border-style: double;
  border-width: 15px;
}

#Wangtakleung>img {
  width: 350px;
  height: 350px;
  padding-top: 30px;
  transition: 1s ease;
}

#Wangtakleung>img:hover {
  transform: scale(0.8);
  transition: 1s ease;
}

#Com {
  padding-top: 38px;
  font-size: 25px;
  font-style: italic;
}

/* Wangtakleung End */

/* Jane Chen starts */
#janechen {
  background-color: rgb(36, 36, 36);
  background-image: url(../img/JaneChenBg.jpg);
  background-size: cover;
}

#janechen>p {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#janechen>img {
  width: 70%;
  border-radius: 100px;
  margin: 20px 0px;
  transition: ease-in-out 0.5s;
}

#janechen>img:hover {
  transform: scale(1.1);
}

#janechen>h1 {
  font-size: 20px;
  color: white;
  font-family: "Archivo Black", sans-serif;
}

/* Jane Chen ends */

/* Jia xu */
#jiaXu {
  color: rgb(245, 97, 122);
  background-color: #32adda;
  font-size: 50px;
  font-family: "Playwrite AT", cursive;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 1);
}

#jiaXu img {
  width: 50%;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

#jiaXu img:hover {
  width: 50%;
  border-radius: 50%;
  transform: scale(1.2);
}

/* Jia end */

/* Gabe Escalaw */
#gabeEscalaw {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

  background-color: antiquewhite;
}

#name-gabe {
  color: #2a5d34;
  margin-bottom: 20px;
  font-size: 3rem;
}

#gabe-img {
  width: 200px;
  height: auto;
  border-radius: 50px;
}


@keyframes bounce {
  50% {
    transform: translateY(-30px);
  }
}

/* Makus start */
#makusMa {
  color: rgb(20, 126, 150);
  background-color: #000000;
  font-size: 30px;
  font-family: "Playwrite AT", cursive;
  border-radius: 15px;
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 95%;
}

#makusMa img {
  width: 50%;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

#makusMa img:hover {
  animation: bounce 0.5s ease infinite;
}

/* Makus end */

/* Wing Faat Fung */
#WingFaatFung {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3f2b27;
  text-shadow: 1px 1px 4px black;
  background-color: #f5f3e0;
}

#WingFaatFung img {
  padding-top: 2em;
  border-radius: 15px;
}

/* Gavin start */
#GavinChiang {
  color: rgb(255, 255, 255);
  background-color: #783131;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  text-shadow: 4px 4px 8px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 95%;
}

#GavinChiang img {
  width: 50%;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

#GavinChiang img:hover {
  animation: bounce 0.3s ease infinite;
}

/* Gavin end */

/* Vanessa start */

#vanessa h1,
#vanessa p {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#vanessa img {
  border-radius: 80%;
  transform: rotateY(180deg)
}

/* Vanessa end */


/* Hoi Kwan Cheung start*/
#hoikwancheung {
  color: rgb(206, 173, 27);
  background-color: #0a3e72;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#hoikwancheung img {
  width: 30%;
  border-radius: 30px;
  transition: transform 0.4s ease;
  margin: 20px 0px;
}

/* Hoi Kwan Cheung end*/

#Sebastian {
  color: white;
  background-color: black;
  font-size: 30px;
  font-weight: bolder;
}

#Sebastian img {
  width: 50%;
  height: auto;
  transition: all ease 2s;
}

#Sebastian img:hover {
  width: 75%;
  height: auto;
  transition: all ease 2s;
}

/* Peiwen Zeng////////Pevy */
#peiwen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  background-color: #eecece;
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease;
}

#peiwen:hover {
  background-color: #c7dfd4;
}

#peiwen img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}


/*sara cubillos's code begin*/
#SaraC {
  font-family: "Honk", system-ui;
  color: rgb(11, 11, 11);
  background-color: rgb(244, 194, 215);
  font-size: 60px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#SaraC img {
  width: 50%;
  border-radius: 30%;
  outline: 5px solid #9cf7e6;
  outline-offset: 10px;
  filter: drop-shadow(0 0 5rem rgba(166, 251, 234, 0.717));
  margin-bottom: 2%;
}

#SaraC img:hover {
  transform: scale(1.1);
  transition: all ease-in-out 3s;
}

/*sara cubillos's code end*/


/* Crystal's code */
#crystalk {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fecefa;
}

#crystalk img {
  width: 40%;
  height: auto;
  border-radius: 20%;
}

/* Nicole Pacheco styled name */
#nicole-pacheco {
  background: url('../img/kiki.jpeg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

#nicole-pacheco h1 {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  color: #6a0dad;
  font-size: 50px;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

/* wing yiu tang*/
#wingyiu {
  color: white;
  background-color: rgb(68, 86, 64);
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#wingyiu img {
  width: 50%;
  border-radius: 30px;
  margin: 20px 0px;
}

/* wing yiu tang ends*/