/* add css imports here  */
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');

/* style resets */
h1,
h4,
p,
a,
svg {
  margin: 0;
  padding: 0;
}

/* base styling */
body {
  font-family: "Inter", sans-serif;
}
header {
  background-color: #c1dff0;
  padding: 20px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
  padding: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

/* Customize your sections!*/

#yonge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41266E;
}

#choi-img{
  width: 300px;
  height: 300px;
  border-radius: 30%; 
}

#choi-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #FFFFFF;
  font-size: 42px;
  margin: 20px 0;
}


#tobi-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f2a;
}
#tobi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e5f2a;
}

#tobi-img{
  width: 360px;
  height: 450px; 
}

#tobi-name {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  padding: 20px 20px;
}

#jaynyfe {
  background-color: #ccffcc;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  text-align: center;
  font-family: "Aclonica", sans-serif; 
}

#jaynyfe #nameDecor {
  font-size: 50px;
  color: #2a5d34;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); 
}

#jaynyfe #piceffect img {
  width: 250px;
  height: auto;
  border-radius: 30%; 
  transition: transform 0.5s ease;
}

#jaynyfe #piceffect img:hover {
  transform: scale(1.1); 
}

#jaynyfe img {
  max-width: 100%;
  height: auto;
  border: 3px solid #6fae75; 
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
}

#nabin {
  text-align: left;
}

#waiyeung {
  background-color: #ffcc99;
}

#diksha {
  background-color: #ffffcc;
}

/* MARIANA */
#mariana {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #e5e5f7;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
#mariana img {
  width: 150px;
  height: auto;
  border-radius: 20%;
}


/*  */


@font-face {
  font-family: aaditya_font;
  src: url(../fonts/aaditya_font.otf);
}




#aaditya {
  background-color: #FAFFE6;
  font-size: 20px;
  font-family: aaditya_font;
}


.card_aadi {
  transform: scale(0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 5px solid #000;
  border-radius: 30px;
  overflow: hidden;
  background-color: #5375FF;
  padding: 30px;
}

.image-aadi {
  width: fit-content;
  height: 400px;
}

.image-aadi img{
  border-radius: 25px;
  border: 5px solid #000;
  max-width: 100%;  
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content {
  padding-top: 25px;

}

.greeting {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  color: white;
}

.button {
  background-color: #68C672;
  border: 4px solid #000;
  font-family: aaditya_font;
  color: black;
  padding: 8px 18px;
  border-radius: 20px;
  display: inline-block;
  font-size: 22px;
  
}

.button:active {
  transform: translateY(2px); 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  background-color: #3e8e41; 
}

.button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.button img {
  margin-right: 10px;
height: 35px;
width: 35px;
vertical-align: middle;
}


/*  */



#marylour {
  background-color: #d9d9d9;
}

#balaji {
  background-color: #ffebcc;
 
}

#apple {
  background-color: #F0EDCC;
  border: 2px solid #171d23; 
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#apple h1{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  color: #02343F;
}

#apple img {
  width: 150px;
  height: auto;
  border-radius: 50%; 
  margin-top: 10px;
}
#apple img:hover {
  transform: rotate(360deg); 
  transition: transform 1s ease-in-out;
}

#apple h5 {
  text-align: center;
  font-size: 18px; 
  color: #02343F;
  margin-top: 15px;
}

#beth {
  background-color: #ffb3b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #80FFFF;
  text-shadow: 0px 0px 8px #B3FFFF;
}
#beth img {
  width: 100%;
  border-radius: 1em;
}

#didem {
  background-color: #c6ecc6;
}

#thulasi {
  background-color: #b3b3ff;
}

#vanessa {
  background-color: #ffcccb;
}

#peiwen {
  background-color: #c1f0f0;
}

/* Nabin's card styling from here */
.card {
  margin: auto;
  max-width: 300px;
  background-color: azure;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.profile-graphic {
  content: "";
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    90deg,
    rgba(98, 255, 237, 1) 0%,
    rgba(121, 183, 255, 1) 100%
  );
  border-radius: 150px 2px 150px 2px;
}

.title-container h1 {
  font-size: 36px;
}
.title-container p {
  font-size: 20px;
  margin-top: 5px;
  margin: 0;
}
.triangular-shape {
  border-left: 2px solid #444cf7;
  border-right: 2px solid #444cf7;
  width: 20px;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(
    ellipse farthest-corner at 5px 5px,
    #444cf7,
    #444cf7 50%,
    #e5e5f7 50%
  );
  background-size: 5px 5px;
}
.bottom-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.work-container {
  display: flex;
  gap: 5px;
  padding: 0px 5px;
  border: 2px solid #444cf7;
  border-radius: 5px;
  align-items: center;
}
.socials {
  display: flex;
}



/* MARIANA */
.container-Mariana {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #e5e5f7; 
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-Mariana img {
  width: 150px;
  height: auto;
  border-radius: 20%;

}

/* Wai Yeung Lam Start */
#waiyeung {
  font-family: "Jacquarda Bastarda 9", serif;
  font-size: x-large;
}

#waiyeung img {
  width: 50%;
  height: auto;
  transition: all ease 1s;
}

#waiyeung img:hover {
  width: 80%;
  height: auto;
  transition: all ease 1s;
}
/* Wai Yeung Lam End */


/* Card Styling for Marylour Pulido */
#marylour h1{
font-family: "Playwrite ZA", cursive;
 color: white;
 background-color: #31389e;
 border: 3px solid rgb(255, 255, 255);
 border-radius: 3px;
 margin-top: 50px;
 font-size: 40px;
}

#marylour h1:hover{
  animation: bounce 0.5s ease infinite;
}

#marylour{
  background-color: #95b9df;
}

#marylour img{
  width: 350px;
  height: auto;
  border-radius: 10px;
  border: solid white;
  margin-top: 100px;
}

#marylour img:hover {
  animation: bounce 0.5s ease infinite;
}

#jukyung {
  color: #3e8e41;
}


#seoyeongkim {
  background-color: #444cf7;
}

#seoyeongkim img{
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: solid rgb(37, 164, 243);
  margin-top: 80px;
}
#seoyeongkim h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: papayawhip;
   background-color: #31389e;
   border-radius: 3px;
   margin-top: 50px;
   font-size: 30px;
  }

  #wingho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #43e2ed;
  }

  
@keyframes bounce {
  50% {
      transform: translateY(-30px); 
  }
}

